@import '../../styles/variables';

.create-quiz-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .create-quiz-form {
    width: 60rem;
    border: 2px solid #5a586957;
    padding: 3rem;
    border-radius: 1rem;

    .upload-csv-file {
      margin-bottom: 3rem;
      margin-top: 1rem;
      display: block;
    }

    .csv-input {
      display: none;
    }

    .import-csv-label {
      display: block;

      > span {
        display: block;
      }

      .import-csv__button {
        display: inline-block;
        height: 5rem;
        border: 1px solid rgba(51, 51, 51, 0.466);
        border-radius: 0.5rem;
        padding: 1rem 2rem;

        .import-icon {
          margin-right: 1rem;

          > svg {
            height: 2rem;
            width: auto;
            transform: translateY(0.3rem);
          }
        }
      }
    }

    input[type='file']::file-selector-button {
      border: 1px solid rgba(51, 51, 51, 0.486);
      padding: 1rem;
      border-radius: 1em;
      background-color: #fff;
      width: 12rem;
    }

    input[type='file']::file-selector-button:hover {
      border: 1px solid $yellow--1;
    }
  }
}
