@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #010334;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}
