@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import '~antd/dist/antd.css';

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #4e4b66;
}

.App {
  min-width: 100%;
  min-height: 100%;
}

button {
  border: none;
}

.ant-input {
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.8rem;
}

.ant-select,
.ant-select-selector,
.ant-select-selector input {
  border-radius: 0.5rem !important;
  height: 5rem !important;
  font-size: 1.8rem;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.ant-form-item-explain {
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.ant-btn {
  cursor: pointer;
  font-size: 1.8rem;
}

.ant-form-item {
  flex-flow: column;
  margin-bottom: 3rem;

  .ant-form-item-label {
    text-align: left;

    > label {
      font-size: 1.9rem;
    }

    > label::after {
      display: none;
    }
  }
}
