@import '~antd/dist/antd.css';

.form__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.error-text {
  color: #ff4d4f;
  font-size: 1.5rem;
  margin-top: 1rem;
}
