.ant-layout-sider {
  min-width: unset !important;
  max-width: unset !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-layout-sider-children {
  padding-top: 0;
}

.ant-menu-title-content {
  font-size: 1.5rem;
}

.ant-menu-item {
  height: 6rem !important;
}
