table {
    // border: 2px solid forestgreen;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }
    
  th {
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;

  }
  .col-No{
    width: 5%;
  }
  .col-Question{
    min-width: 45%;
  }
  .col-Answer{
    width: 10%;
  }
  .td-input{
    width: 100%;
    border: none;
    box-shadow: none;
  }
  