@import '../../styles/variables';

.navbar {
  height: $navbar-height;
  width: 100%;
  display: flex;
  flex-flow: row;
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  align-items: center;
  justify-content: space-between;
  padding: 0;

  &__logo {
    height: 8rem;
    cursor: pointer;
  }

  &__function {
    display: flex;
    align-items: center;
    padding-right: 5rem;

    .account-icon {
      height: 4rem;
      width: 4rem;
      margin-right: 2rem;
      cursor: pointer;
      margin-left: 2rem;
    }

    .ant-btn,
    .ant-btn:hover {
      background-color: #ffff;
      border: none;
      height: 5rem;
      padding: 0 3rem;
      border-radius: 3rem;
    }
  }
}
