@import '../../styles/variables';

.profile-container {
  min-width: 100vw;
  min-height: 100vh;
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-form {
    width: 60rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 3rem;
  }
}
