.App {
    font-family: sans-serif;
    text-align: center;

  }
.background{
    background-color: #acacacc2;
    width: 100%;
    min-height: 100vh;

    .table-container {
        width: 60%;
        margin: auto;
        margin-top: 100px;
        padding: 5px;
        
        .table-content {
            width: 100%;
            padding: 5px;
            justify-content: center;
        align-items: center;
        }
    }
}