@import '../../styles/variables';

.dashboard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $header-height);

  .ant-btn,
  .ant-btn:hover {
    width: 50rem;
    height: 9rem;
    border: none;
    border-radius: 3rem;
    font-size: 2.5rem;
    color: inherit;
    background-color: #ffff;
    margin-bottom: 3rem;
    box-shadow: 0 0.3rem 0.8rem #333;

  }
}
