@import '../../styles/variables';

.quiz-info-container {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-bottom: 5rem;
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .quiz-info {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;

    &__text {
      font-size: 2rem;
      text-align: left;
      display: flex;
      flex-flow: column;

      .quiz-info__title {
        font-size: 4rem;
        font-weight: 700;
      }

      .ques-info-label {
        display: inline-block;
        font-weight: 700;
      }

      .ques-info-box {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 1rem;
        border-bottom: 1px dashed #333;
      }

      .ques-info-text {
        display: inline-block;
        text-align: right;
      }

      .quiz-description {
        border-radius: 1rem;
        border: 1px solid rgba(51, 51, 51, 0.418);
        padding: 1rem;
      }

      > span {
        display: inline-block;
      }
    }
  }

  .action-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    > div {
      display: flex;
      flex-flow: column;

      .result-text {
        margin-bottom: 2rem;
        font-size: 2.5rem;

        .result-text-score {
          display: inline-block;
          font-size: 3rem;
          margin-left: 2rem;
        }
      }
    }

    .ant-btn {
      width: 20rem;
      height: 5rem;
      border: none;
      background-color: $yellow--1;
      color: #fff;
      border-radius: 0.5rem;
    }
  }
}
