@import '../../../../styles/variables';

.no-quiz-created {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30vh;
  font-size: 2rem;
  font-style: italic;
  color: red;
}

.take-test__container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  font-size: 1.8rem;
  padding: 3rem 5rem 0 5rem;

  .result-btn {
    background-color: green !important;
    margin-bottom: 1rem;
  }

  .btn-disabled {
    background-color: rgb(224, 215, 215) !important;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .new-quiz-title {
    color: rgb(209, 93, 93);
  }

  .other-quiz-title {
    margin-top: 4rem;
  }

  .quizImage {
    height: 16rem;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .all-quiz-info-container {
    // overflow: hidden;
    // white-space: nowrap;

    // &:hover {
    // overflow: auto;
    // }
  }
}
