.container {
  width: 93%;
  margin: auto;
  margin-top: 30px;

  table {
    height: auto;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 9px 1px rgb(0 0 0 / 28%);
    margin-bottom: 30px;

    thead {
      background-color: #327a81;
      color: white;
    }

    tbody {
      text-align: center;
      tr {
        // border-bottom: 1px solid #327a81;
        td {
          textarea {
            border: none;
            outline: none;
            height: 100%;
            // -webkit-box-shadow: none;
            // -moz-box-shadow: none;
            // box-shadow: none;
            overflow: hidden;
            padding: 10px;
            background: none;
          }
        }
      }
      tr:nth-child(even) {
        background-color: #f1dfd1;
      }
      tr:nth-child(odd) {
        background-color: #fff;
      }
    }

    .col-No {
      width: 5%;
    }
    .col-Question {
      min-width: 45%;
    }
    .col-Answer {
      width: 10%;
    }
    .td-input {
      width: 100%;
      border: none;
      box-shadow: none;
    }
  }
  .footer {
    width: 100%;
    height: 20px;
    margin-bottom: 100px;
    .f-left {
      float: left;

      .btn-add {
        background-color: #f5cba8;
      }
    }
    .f-right {
      float: right;
      .btn-submit {
        background-color: #327a81;
        color: white;
      }
    }
  }
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 12px;
}
