@import '../../styles/variables';

.container {
    padding-top: 50px;
  display: grid;
  grid-template-columns: 35% 65%;
  width: 70%;
  padding-left: 15%;
  font-size: 100px;

  .label {
      font-size: 50px;
  }

  &__quizImage {
      padding-left: 10px;
      height: 20rem;
  }

  .box { 
        display: flex;
        flex-flow: row; 
  }

  
}

.box-text {
    font-size: 30px;
    text-align: left;
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column;
  }